html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito", serif;
}

body {
  background-color: #dbe2ef;
}

#downloadButton-mobile {
  display: none;
}

.font-blue {
  color: #3f72af;
}

.font-dark {
  color: #112d4e;
}

.font-light-dark {
  color: #3f5875;
}

.font-light {
  color: #fff0f0;
}

nav {
  background: #f9f7f7;
  min-height: 60px;
  max-width: 1300px;
}

.navbar-nav .nav-item {
  margin-right: 30px; /* Adjust the value as needed */
}

p {
  margin: 0;
  padding: 0;
}

.btn {
  border-radius: 40px; /* Adjust the value as needed */
  color: #3f72af; /* Change the color to your desired color */
  border-color: #3f72af; /* Same color as the background */
}

.btn:hover {
  color: white; /* Change the color to your desired color */
  background-color: #3f72af; /* Light yellow as an example */
  border-color: #3f72af; /* Same color as the background */
}

#welcome {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

#title {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "nunito", serif;
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 1s ease-in-out; /* Apply transition effect */
}

#name {
  font-size: 60px;
  margin-bottom: 10px;
}

#occupation {
  font-size: 40px;
}

#image {
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 1s ease-in-out; /* Apply transition effect */
  height: 100%;
  display: flex;
  justify-content: center;
}

#image img {
  max-height: 830px;
}

#about {
  height: 80vh;
}

#about-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* Styling for the about text */
#about-text {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Apply transition effect */
  background-color: #6595cf;
  color: white;
  height: 300px;
  width: 500px;
  padding-top: 50px !important;
  text-align: left;
  border-radius: 30px;
}

#about-info {
  height: 300px;
  width: 500px;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Apply transition effect */
  border: 2px solid #3f72af; /* Adjust the width, style, and color as needed */
  border-radius: 30px;
}

#about-info a:hover {
  color: #112D4E;
}

#about-info.show,
#about-text.show {
  opacity: 1;
}

#about a {
  color: #3f72af;
  margin-left: 8px;
}

/* Styling for the list of details */
#about-info ul {
  list-style: none;
  padding: 0;
}

/* Styling for list items */
#about-info li {
  margin-bottom: 10px;
}

/* Styling for strong elements within list items */
#about-info li strong {
  margin-right: 5px;
}

#about-detail img {
  width: 30px;
}

#about ul {
  list-style-type: none;
}

#experience {
  height: fit-content;
  padding: 50px 0;
}

.ex-background {
  background-image: url('/src/back-ex.png');
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: fixed;
  background-repeat: no-repeat;
}

.edu-background {
  background-image: url('/src/back-edu.png');
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: fixed;
  background-repeat: no-repeat;
}

.topic {
  text-align: center;
  font-size: 50px;
}

.skill-list {
  border-radius: 20px;
  color: #fff0f0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  display: inline-block;
}

#description-list li {
  margin-bottom: 5px;
}

#experience-timeline {
  width: 100%;
}

#timeline-experience {
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}
#timeline-experience.show{
  opacity: 1;
}

/* timeline */
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #3F72AF;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

#education {
  height: fit-content;
  padding: 50px 0;
}

#timeline-education {
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}
#timeline-education.show{
  opacity: 1;
}

.skill-topic {
  text-align: center;
}

.skill-type {
  border: 2px solid #3F72AF;
  border-radius: 20px;
  padding: 20px;
}

#skill {
  height: fit-content;
  padding: 50px 0;
}

#skill-container {
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}
#skill-container.show{
  opacity: 1;
}

#extracurricular {
  height: fit-content;
  padding: 50px 0;
}

#bookbelay-card-link {
  text-decoration: none;
  color: inherit; 
}

#activity-container {
  display: flex;
  margin-top: 50px;
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}
#activity-container.show {
  opacity: 1;
}

#activity-list {
  width: fit-content;
  margin-left: 5%;
  margin-right: 100px;
}

#activity-list ul {
  list-style-type: circle;
}

#activity-list ul li{
margin-bottom: 7px;
}

#carouselPhoto {
  width: 30%;
}

#certification img{
  height: 300px;
}

#certification {
  height: fit-content;
  padding: 50px 0;
}

#cer-container {
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}
#cer-container.show{
  opacity: 1;
}

#project-container {
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}
#project-container.show{
  opacity: 1;
}

@media screen and (max-width: 600px) {
  body {
    background-color: #fff0f0;
    /* overflow-x: hidden; */

  }

  .nav-mobile {
    display: none;
  }

  #welcome {
    padding: 0 !important;
  }

  #welcome, #about {
    display: block;
    min-height: fit-content !important;
  }

  #title {
    margin-top: 50px;
    width: 100% !important;
    display: block;
    text-align: center; /* If you want the text inside to be centered */
  }

  #name {
    font-size: x-large;
  }

  hr {
    width: 70%;
    margin: auto;
  }

  #occupation {
    margin-top: 10px;
    font-size: large;
  }

  #downloadButton-mobile {
    display: inline;
    margin-top: 20px;
  }

  #image img {
    width: 100%;
    height: auto;
  }

  #about {
    padding: 10px !important;
    margin-bottom: 30px;
    height: fit-content;
  }

  .topic {
    text-align: start;
    margin-top: 10px;
    font-size: 30px;
    margin-left: 20px !important;
  }

  #about-text {
    font-size: smaller !important;
    padding: 20px !important;
    width: 350px;
    height: fit-content;
    word-wrap: break-word;
  }

  #about-info {
    margin-top: 20px;
    font-size: smaller !important;
    padding: 20px !important;
    width: 350px;
    height: fit-content;
    padding-bottom: 10px !important;
    min-width: 90%;
  }

  #about-detail img {
    width: 25px;
  }

  .ex-background, .edu-background {
    background-image: none;
  }

  .timeline-head {
    font-size: 20px !important;
  }

  .timeline-detail {
    font-size: 15px !important;
  }

  ul.timeline:before {
    left: 10px;
  }

  ul.timeline > li:before {
    left: 1.5px !important;
  }

  #timeline-experience, #timeline-education {
    padding-left: 10px;
  }

  .skill-list {
    padding: 5px;
  }
  



  /* แก้ขัดไปก่อน  */
  #timeline-experience {
    opacity: 1;
  }

  #activity-container {
    opacity: 1;
  }


  #certification img{
    width: 40%;
    height: auto;
  }

  #activity-list {
    margin-left: 0;
    width: 100%;
  }

  #activity-container {
    display: block;
    margin-top: 50px;
  }

  #carouselPhoto {
    width: 80%;
    margin: auto;
  }

  #project {
    padding: 0 !important;
  }

  #extracurricular h1 {
    margin-bottom: 0 !important;
  }

  #certification h1 {
    margin-bottom: 20px !important;
  }

  #cer-container {
    display: block;
  }

  #certification img{
    width: 100%;
  }

  #cer-container-mobile {
    display: block;
    width: 100%;
  }

  .skill-type {
    margin-top: 20px;
    width: 350px;
    margin: auto;
    margin-top: 20px;
  }

  .skill-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  #skill {
    padding: 20px 0;
  }

  #activity-container {
    margin-bottom: 10px !important;
  }

  #experience h1, #education h1, #skill h1, #project h1 {
    margin-bottom: 0 !important;
  }

  footer p {
    font-size: 10px;
  }

}