body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {
    width: 100%;
    padding: 40px;
}

.font {
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 30vh;
    height: 100vh;
    background-color: #6096B4;
    padding: 1em;
    position: fixed;
    overflow: hidden;
}

nav img {
    border-radius: 50%;
    width: 80%;
}

nav h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    font-size: 40px;
}

.btn-group button {
    background-color: #ffffff;
    border: none;
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    margin-left: 60px;
    margin-top: 40px;
    width: 70%;
    border-radius: 20px;
    height: 70px;
}

.btn-group button:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #EEE9DA;
}

button a {
    font-size: 25px;
    font-weight: bolder;
}

a:-webkit-any-link {
    text-decoration: none;
    color: rgb(0, 74, 127);
}

main {
    background-color: #EEE9DA;
    height: 100vh;
    overflow-y: auto;
    margin-left: 30vh;
    overflow-x: hidden;
}

.welcome {
    background-color: #93BFCF;

}

.welcome h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 4px;
}

.typewriter {
    width: fit-content;
}

.typewriter h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    width: fit-content;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #435B66;
    }
}

#about {
    background-color: white;
}

#skill {
    background-color: #ffffff;
    height: fit-content;
}

#experience {
    background-color: #e2ecf1;
}

#extra {
    background-color: #e2ecf1;
}

section h1 {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0px;
    padding-left: 50px;
    padding-bottom: 30px;
}

#about img {
    margin: 20px;
    border-radius: 15px;
}

.parent {
    width: 100%;
    display: flex;
    font-size: 30px;
}

.parent ul {
    list-style-type: none;
    line-height: 2;
    padding: 0px;
}

.parent div {
    padding: 20px;
    min-width: 400px;
}

li {
    margin: 30px 0;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 140px;
    margin-left: -3px;
}

.container {
    background-color: white;
    line-height: 40px;
    width: 40%;
    min-height: 100px;
    padding: 30px;
    margin-left: 450px;
    margin-bottom: 40px;
    border-radius: 30px;
    border: solid;
    border-width: 3px;
    border-color: #2175a6;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #e04f4f;
    border: solid;
    border-radius: 50%;
    display: inline-block;
    margin-left: 125px;
    position: absolute;
    margin-top: 70px;
    opacity: 100%;
    z-index: 1;
}

.year {
    font-size: 25px;
    padding: 15px;
    display: block;
    width: 200px;
    position: absolute;
    color: #FFFFFF;
    background: #03405c;
    border-radius: 20px;
    margin-left: 180px;
    margin-top: 55px;
    font-family: 'Raleway', sans-serif;
    opacity: 70%;
    text-align: center;
    letter-spacing: 3px;
}

#technical-skill,
#soft-skill {
    margin-left: 100px;
}

#technical-skill h2 {
    font-size: 35px;
}

#soft-skill h2 {
    font-size: 35px;
}

#technical-skill li,
#soft-skill li {
    font-size: 30px;
}

section.skill {
    padding-bottom: 0 !important;
}

div.extra {
    font-size: 30px;
    margin-left: 100px;
}

.extra ul {
    list-style-type: '-  ';
}

div.certificate {
    display: flex;
    flex-direction: row;
}

#data, #bangkok {
    width: 50%;
    text-align: center;
}